@keyframes wmove5{0%{width: 0;}100%{width: 5%;}}
@-webkit-keyframes wmove5{0%{width: 0;}100%{width: 5%;}}

@keyframes wmove10{0%{width: 0;}100%{width: 10%;}}
@-webkit-keyframes wmove10{0%{width: 0;}100%{width: 10%;}}

@keyframes wmove15{0%{width: 0;}100%{width: 15%;}}
@-webkit-keyframes wmove15{0%{width: 0;}100%{width: 15%;}}

@keyframes wmove20{0%{width: 0;}100%{width: 20%;}}
@-webkit-keyframes wmove20{0%{width: 0;}100%{width: 20%;}}

@keyframes wmove25{0%{width: 0;}100%{width: 25%;}}
@-webkit-keyframes wmove25{0%{width: 0;}100%{width: 25%;}}

@keyframes wmove30{0%{width: 0;}100%{width: 30%;}}
@-webkit-keyframes wmove30{0%{width: 0;}100%{width: 30%;}}

@keyframes wmove40{0%{width: 0;}100%{width: 40%;}}
@-webkit-keyframes wmove40{0%{width: 0;}100%{width: 40%;}}

@keyframes wmove45{0%{width: 0;}100%{width: 45%;}}
@-webkit-keyframes wmove45{0%{width: 0;}100%{width: 45%;}}

@keyframes wmove50{0%{width: 0;}100%{width: 50%;}}
@-webkit-keyframes wmove50{0%{width: 0;}100%{width: 50%;}}

@keyframes wmove55{0%{width: 0;}100%{width: 55%;}}
@-webkit-keyframes wmove55{0%{width: 0;}100%{width: 55%;}}

@keyframes wmove60{0%{width: 0;}100%{width: 60%;}}
@-webkit-keyframes wmove60{0%{width: 0;}100%{width: 60%;}}

@keyframes wmove65{0%{width: 0;}100%{width: 65%;}}
@-webkit-keyframes wmove65{0%{width: 0;}100%{width: 65%;}}

@keyframes wmove70{0%{width: 0;}100%{width: 70%;}}
@-webkit-keyframes wmove70{0%{width: 0;}100%{width: 70%;}}

@keyframes wmove75{0%{width: 0;}100%{width: 75%;}}
@-webkit-keyframes wmove75{0%{width: 0;}100%{width: 75%;}}

@keyframes wmove80{0%{width: 0;}100%{width: 80%;}}
@-webkit-keyframes wmove80{0%{width: 0;}100%{width: 80%;}}

@keyframes wmove85{0%{width: 0;}100%{width: 85%;}}
@-webkit-keyframes wmove85{0%{width: 0;}100%{width: 85%;}}

@keyframes wmove90{0%{width: 0;}100%{width: 90%;}}
@-webkit-keyframes wmove90{0%{width: 0;}100%{width: 90%;}}

@keyframes wmove95{0%{width: 0;}100%{width: 95%;}}
@-webkit-keyframes wmove95{0%{width: 0;}100%{width: 95%;}}

@keyframes wmove100{0%{width: 0;}100%{width: 100%;}}
@-webkit-keyframes wmove100{0%{width: 0;}100%{width: 100%;}}